@import "tailwindcss";
@import "@ecommerce/design-tokens/theme.css";

:root {
  background-color: var(--color-background-light);
  color: var(--color-text-primary);
}

body {
  margin: 0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.serif-font {
  font-family: var(--font-display);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
