@import "tailwindcss";
@import "@ecommerce/design-tokens/theme.css";

:root {
  background-color: var(--color-background-light);
  color: var(--color-text-primary);
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-display {
  font-family: var(--font-display);
}
